{% include "App_mvt/format.html" %}

<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Introduzca el email del cliente que desea buscar</h1>
                    <form action="" method="GET">
                         
                        {{formulario.as_table}}

                        {% if clientes %}
                             
                                {% for cliente in clientes %}
                                <ul>
                                    Nombre: {{cliente.nombre}} <br />
                                    Apellido: {{cliente.apellido}} <br />
                                    Edad: {{cliente.edad}} <br />
                                    Email: {{cliente.email}} <br />
                                </ul>
                                {% endfor %}
                        {% else %}
                            <h1> No hay clientes con ese criterio </h1>
                        {% endif %}
                        
                        <input type="submit" value = "Buscar">

                    </form>

                </div>
            </div>
        </div>
    </div>
</header>
