{% include "App_mvt/format.html" %}

<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Introduzca el Ticker de la moneda que desea buscar</h1>
                    <form action="" method="GET">
                         
                        {{formulario.as_table}}

                        {% if coins %}
                             
                                {% for coin in coins %}
                                <ul>
                                    Nombre: {{coin.nombre}} <br />
                                    Ticker: {{coin.ticker}} <br />
                                    Precio: {{coin.precio}} <br />
                                </ul>
                                {% endfor %}
                        {% else %}
                            <h1> No hay coins con ese criterio </h1>
                        {% endif %}
                        
                        <input type="submit" value = "Buscar">

                    </form>

                </div>
            </div>
        </div>
    </div>
</header>      
